html 
    head 
        title embr 
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
        script(src="https://kit.fontawesome.com/264882c67d.js" crossorigin="anonymous")
        script(src="https://unpkg.com/htmx.org@1.9.10")
        link(rel="stylesheet", href="global.css")
    body 
        main.container 
            nav 
                hgroup 
                    h1 embr
                    p Ignite your ideas
                if user
                    ul
                        li: a(href=`/users/${user.id}`)=user.username 
                        li: button(onclick="toggleModal(event)" data-target="new-post-modal"): i.fa-solid.fa-add.new-post
                        li: button.outline: a(href="/logout"): i.fa-solid.fa-right-from-bracket
            block content

        script 
            include ../js/modal.js